@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
    white-space: nowrap;
}

body,
html,
main,
.bg_video_container,.page {
    width: 100%;
    height: 100%;
    background-color: #000000cc;
}
main {
    position: relative;
}
nav img {
    margin: 0 30px;
}

nav {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn_container {
    margin-left: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn {
    text-transform: uppercase;
    border: 1px solid greenyellow;
    background-color: black;
    padding: 13px 30px;
    border-radius: 30px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

/* video container */
.bg_video_container {
    position: fixed;
}

.bg_video_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -111;
}

/* page 1  */
.page {
    position: absolute;
    z-index: 1;
}
#page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000056;

}
#text_box {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
}
#text_box pre{
    white-space: wrap;
    margin: 0 140px;
    font-size: 1.3vw;
}

#text_box h1 {
    font-size: 5vw;
    font-weight: 900;
    position: relative;
    color: white;
}
h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: greenyellow;
    font-size: 5vw;
    top: -5px;
    /* right: 3px; */
    -webkit-text-stroke: 2px green;
    z-index: -1;
}

#text_box h2 {
    text-transform: uppercase;
    font-size: 1.6vw;
    font-weight: 900;
}
